doctype html

html 
    head
        title App
        link(rel="stylesheet" href="/css/nav.css")
        link(rel="stylesheet" href="/css/footer.css")
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    body
        header
            nav
                ul.nav-links  
                    a(href="#")
                        li Home
                    a(href="#")
                        li  Service
                    a(href="#")
                        li  Products
                    a(href="#")  
                        li  About
                    a(href="#")
                        li  Contact Us
                div#menu
                    div.line-1
                    div.line-2
                    div.line-3    
        
        block content
        
        script(src="./js/main.js")

                
                
                